header{
  height:100px;
  background-color: yellow;
}
.container {
  width:500px;
  margin:auto;
}
.banner {
  background-color: orange;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.total {
  font-size: 15pt;
}

.number {
  display:block;
  font-size: 30pt;
  padding-left:10px;
}

.button {
  padding:10px 20px;
  background-color: tomato;
  color:white;
  border:1px solid lightgray;
  border-radius:0.4rem;
}

.profile {
  float:left;
  position: relative;
  border-radius:1rem;
  margin:10px;
  width : 200px;
  text-align:center;
  padding:1rem;
  background-color: #ebebeb;
  box-shadow: 10px 13px 22px -3px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 13px 22px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 13px 22px -3px rgba(0,0,0,0.75);
}

.new {
  position: absolute;
  left : 70%;
  top : 10%;
  background-color: aquamarine;
  padding:0.2rem 0.5rem;
}

.img {
  width:200px;
  height:200px;
  border-radius:100%;
}
